NEXT_PUBLIC_API_URL="http://localhost:3000"

# Better Auth (production)
BETTER_AUTH_DATABASE_URL="BETTER_AUTH_DATABASE_URL=postgresql://postgres:taotask733#@db.ljhfkhsyalovmsfbtesk.supabase.co:5432/postgres"
BETTER_AUTH_SECRET="change-me-please"
ADMIN_EMAIL="demo@admin.local"
ADMIN_PASSWORD="S3cur3!T0rch!91Aq"